body {
    background-color: #00a5e8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: normal;
}

h3{
    margin: 0;
}

.container {
    background-color: #000834;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 330px;

}

.title{
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: left;
}

.text-block {
    text-align: center;
    padding: 16px 0;
    margin-bottom: 6px;
    min-height: 18px;
    font-size: 14px;
}

.bg-dark-blue {
    background-color: #20264b;
    border-radius: 5px;
}

.py-10 {
    padding: 8px 9px 8px 16px;
    margin-bottom: 6px;
}

#characterLength {
    width: 100%;
}

.between {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.generate-btn{
    background-image: linear-gradient(to right, #708be8 0%, #7c74cd 51%, #8263b5  100%);
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 12px;
    cursor: pointer;
}

.label-text{
    text-transform: uppercase;
    font-size: 10px;
    color: #71758c;
}

.character-length{
    display: flex;
    font-size: 14px;
}

.pl-4 {
    padding-right: 8px;
}

.pr-32 {
    padding-left: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



